body {background: #efefef url(image/gem.png); margin: 0; padding: 0;
	font: 16px/24px Arial, Tahoma, sans-serif;}
a{text-decoration: none;}

/*Структура Сайта*/
div.mid{width: 1000px; margin: 0 auto;}
div.header{background: #000000;}

/*шапка сайта*/
div.topmenu{float: right; height: 70px; line-height: 70px;}
div.topmenu a{margin: 0 0 0 10px; color: #1683a3;}
div.topmenu a:hover{color: #fff;} 
div.afisha{padding: 20px 50px 0px 50px; background: #f2f2f2 url(image/headline.png) top repeat-x;} 
div.afisha img{float: left;}
div.afisha h3{font-size: 24px; font-weight: normal; text-align: center; color: #830000;}
div.afisha p{text-align: center;}
div.afisha a{font-size: 20px; color: #fff; font-weight: bold;
	background: #b23600; border: 1px solid #862900; padding: 5px 15px;
	border-radius: 3px; box-shadow: 2px 2px 7px -1px #777; text-shadow: 0px 0px 3px #752300;}
	div.afisha a:hover{background: #068bac; border: 1px solid #046d88; text-shadow: 0px 0px 3px #034e61;}

/*Главное меню*/
div.menu{background: #1683a3; border: 1px solid #016c8b; border-left: none; border-right: none;}
div.menu ul{margin: 0; padding: 0; list-style: none; text-align: center;}
div.menu ul li {display: inline-block; margin: 5px 30px;}
div.menu ul li a{color: #fff; text-transform: uppercase; text-shadow: 1px 1px 3px #0b4455;}
div.menu ul li a:hover{color: #a3e1f3;}

div.clear{clear: both;}